<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<!-- orig: <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
	<link href="/css/main.css" rel="stylesheet">
</head>

<body>
	<div class="container">

		{{ content }}

	</div><!-- /.container -->
	<footer>
		<ul>
			<li><a href="https://twitter.com/SEDataLibrarian">Twitter</a></li>
			<li><a href="https://www.facebook.com/groups/294679811125755/">Facebook</a></li>
			<li><a href="mailto:se.datalibrarian@gmail.com">Email</a></li>
			<li style="float:right; margin-right:0"><a href="https://github.com/se-datalibrarian">github.com/se-datalibrarian</a></li>
		</ul>
	</footer>
</body>

</html>